@model IEnumerable<soft_leave_mgt.Models.LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Leave Types</h1>
<hr/>

<p>
    <a asp-action="Create" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                    <i class="fa fa-edit"></i> Edit
                    </a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                    <i class="fa fa-info-circle"></i> Details
                    </a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want tio delete this record')"> 
                    <i class="fa fa-trash"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
<script>
    $(document).ready( function () {
    $('#tblData').DataTable();
    } );
</script>

 }

