@model soft_leave_mgt.Models.ViewAllocationVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details for  - @Model.Emplooyee.Lastname , @Model.Emplooyee.Firstname</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.Firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.Firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.Lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.Lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.TaxId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.TaxId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Emplooyee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Emplooyee.DateJoined)
        </dd>
    </dl>
</div>

<hr />

<h2>Leave Allocation</h2>

<div class="card" style="width: 18rem;">
    <ul class="list-group">
        @{ foreach (var item in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                            <h6>
                                @item.LeaveType.Name <span class="badge badge-secondary"> @item.NumberOfDays</span> |
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa fa-pencil"></i> Edit</a>
                            </h6>  
                </li>
            }
        }
    </ul>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
